.button {
    background: #222255;
    color: #ffffff;
}

hr {
    border-color: #4444aa;
}

.title {
    color: #4444aa;
}

.subtitle {
    color: #333388;
}

.individual-post {
    background: #ccccff;
    color: #000000;
}

.post-date {
    color: #777777;
}
