body {
    background: #222222;
    color: #ffffff;
}

.button {
    background: #dddddd;
    color: #000000;
}

.individual-post {
    background: #000000;
    color: #ffffff;
}

.post-date {
    color: #aaaaaa;
}
