.button {
    background: #225522;
    color: #ffffff;
}

hr {
    border-color: #44aa44;
}

.title {
    color: #44aa44;
}

.subtitle {
    color: #338833;
}

.individual-post {
    background: #ccffcc;
    color: #000000;
}

.post-date {
    color: #777777;
}
