.button {
    background: #994444;
    color: #ffffff;
}

hr {
    border-color: #aa4444;
}

.title {
    color: #aa4444;
}

.subtitle {
    color: #883333;
}

.individual-post {
    background: #ffcccc;
    color: #000000;
}

.post-date {
    color: #777777;
}
